figure {
  position: relative;
  margin-bottom: 30px;
}

figure img {
  width: 100%;
}

figcaption {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 0.7rem;
  position: absolute;
  top: 1rem;
  left: 25%;
  width: 50%;
  border-radius: 15px;
  color: #000 !important;
}

figcaption a[download] {
    color: inherit;
    background-image: url('file-earmark-arrow-down.svg');
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
}