ul {
    padding-left: 15px;
}

li {
    display: block;
    text-align: left;
    padding-bottom: .67em;
}

ul.secondhier {
    padding-left: 10px;
    font-size: 80%;
}

#bildernav {
    position: sticky;
    top: 15px;
}

li a {
    color: inherit;
}
