.navbar1 {
  background-color: #00818b;
}

.navbar-brand {
  color: #fff!important;
}

.navbar-brand img {
  filter: invert(1);
}

.navbar a {
  color: #fff;
  text-transform: uppercase;
}

.navbar a:hover {
  color: #fff;
  text-decoration: underline;
}

.semver {
  color: #ddd!important;
}

.inputbar1 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-color: white!important;
}

.loading {
  width: 25vw;
  height: 25vh;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.carousel-caption {
  background-color: rgba(211,211,211, 0.5);
  color: black!important;
  top: 1rem;
  bottom: auto!important;
}

.carousel-caption a {
  color: black!important;
  text-decoration: underline;
}

.carousel-caption a:hover {
  color: blue!important;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

a[download] {
  content: 'testetes';
  background-image: url('file-earmark-arrow-down.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
} 