nav.navbar {
  background-color: #00818b;
  padding-left: 1rem;
}

nav.navbar .navbar-brand {
  color: #fff!important;
}

nav.navbar .navbar-brand img {
  filter: invert(1);
}

nav.navbar a.nav-link {
  color: white;
  text-transform: uppercase;
}

nav.navbar a.nav-link:hover {
  text-decoration: underline;
}

.textcontent {
  margin-top: 2rem;
  text-align: center;
}

#submitform {
  max-width: 40rem;
  margin: 1rem auto 2rem;
}

#buttongroup
{
  margin-top: 1rem;
  text-align: center;
}

#buttongroup button {
  margin-left: 2rem;
  margin-right: 2rem;
}

figure {
  position: relative;
}

figure img {
  max-width: 100vw;
}

figcaption {
  background-color: rgba(211,211,211, 0.5);
  padding: 0.7rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 15px;
}

figcaption a {
  color: black;
}

a[download] {
  background-image: url('file-earmark-arrow-down.svg');
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20px;
} 
